@using Microsoft.AspNetCore.Components
@using Microsoft.JSInterop

<div class=@(@class) id="@Model.Id"></div>

@functions {

    [Inject]
    IJSRuntime runtime { get; set; }

    [Parameter]
    EditorModel Model { get; set; }

    [Parameter]
    string @class { get; set; }

    private bool _alreadyRendered = false;

    protected override async Task OnAfterRenderAsync()
    {
        if (!_alreadyRendered)
        {
            _alreadyRendered = await BlazacoJSInterop.InitializeEditor(runtime, Model);
        }
    }

    public async Task<string> GetValue()
    {
        return await BlazacoJSInterop.GetValue(runtime, Model.Id);
    }

    public async Task<bool> SetValue(string newValue)
    {
        return await BlazacoJSInterop.SetValue(runtime, Model.Id, newValue);
    }

    public async Task<bool> SetTheme(string newTheme)
    {
        return await BlazacoJSInterop.SetTheme(runtime, Model.Id, newTheme);
    }

    public async Task<bool> Layout()
    {
        return await BlazacoJSInterop.Layout(runtime, Model.Id);
    }
}